:root {
  --blue: #92beff;
  --indigo: #6610f2;
  --purple: #5f063e;
  --pink: #ff9999;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --dark-brown: #1d1606;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #efdcbc;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: var(--primary);
  font-family: var(--font-family-monospace);
  align-items: center;
  align-content: center;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card {
  border-radius: 20px;
}

.wrap .list {
  width: 100%;
  height: 10vh;
  overflow-x: hidden;
  /* webkit-transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
  transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg); */
  margin: 0 0 0 70px;
  padding: 20px 100px 500px 0;
  scrollbar-width: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: block;
}
.wrap .list .item {
  width: 30%;
  height: 400px;
  margin: 20px;
  display: inline-block;
  position: relative;
}
.wrap .list .item::after {
  content: "";
  position: absolute;
  z-index: 150;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
.wrap .list .item .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  box-shadow: 50px 5px 50px 0 #000;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  z-index: 10;
  position: relative;
}

/* .album{
    background-color: #ffa09979;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3960c8e1-d90e-4e60-8522-816b41b93892/d84vq6v-5985a860-c6c3-453c-a0ae-e80e5e5abf06.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5NjBjOGUxLWQ5MGUtNGU2MC04NTIyLTgxNmI0MWI5Mzg5MlwvZDg0dnE2di01OTg1YTg2MC1jNmMzLTQ1M2MtYTBhZS1lODBlNWU1YWJmMDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.G2ljZtN3fPs4NhvF-fCGxl_97BA4w8kvt_qGyJH1RNI");
} */

.item {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3960c8e1-d90e-4e60-8522-816b41b93892/d84vq6v-5985a860-c6c3-453c-a0ae-e80e5e5abf06.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5NjBjOGUxLWQ5MGUtNGU2MC04NTIyLTgxNmI0MWI5Mzg5MlwvZDg0dnE2di01OTg1YTg2MC1jNmMzLTQ1M2MtYTBhZS1lODBlNWU1YWJmMDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.G2ljZtN3fPs4NhvF-fCGxl_97BA4w8kvt_qGyJH1RNI");
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* ul li{
  white-space: nowrap;
  list-style-type: none;
  text-align: center;
} */
footer {
  background-color: rgba(29, 22, 6, 0.1);
  padding: 20px;
}
.footer {
  align-items: center;
  text-align: center;
}

a {
  color: var(--pink);
  font-weight: bolder;
  text-decoration: none;
  margin: 20px;
}

.fas {
  color: var(--purple);
}

b {
  color: var(--purple);
}
